.header{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    height: 50vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outro-container {
    // height: 50vh;
    // display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 20px;

    div {
        // height: 100px;
        //background-color: crimson;
        
        
    }    

}

